/* DetailGu.css */

/* 컨테이너 스타일 */
.container {
  display: flex; /* Flexbox 레이아웃 설정 */
}

/* 지도를 감싸는 컨테이너 스타일 */
.map-container {
  flex: 1; /* 남은 공간을 모두 차지 */
  overflow: hidden;
}

/* 경로 설정 폼 컨테이너 스타일 */
.form-container {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex; /* Flexbox 레이아웃 설정 */
  flex-direction: column; /* 컨테이너 내부 요소를 세로로 배치 */
  justify-content: center; /* 세로 중앙 정렬 */
}

/* 폼 요소 스타일 */
.input-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #0056b3;
}