body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar */
}


.map-container {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
}

.main-list-container {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
}

.korea-map {
  flex: 1; /* 1/3 너비를 가짐 */
}

.seoul-map {
  flex: 1; /* 1/3 너비를 가짐 */
}

.main-list {
  flex: 1;
}

.korea-map-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.table-container {
  position: relative;
  z-index: 1;
}

.seoulmap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}