/* Modal.css 파일에서 동영상 스타일 수정 */
  .video-container {
    max-width: 100%; /* 동영상 컨테이너의 최대 너비를 조절합니다. */
    max-height: 800px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* 동영상 스타일 수정 */
  .video-container video {
    width: 60%; /* 동영상 너비를 100%로 설정하여 부모 컨테이너에 맞게 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
  }