/* Modal.css 파일에 추가 또는 수정 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(5px);
    border-radius: 15px; /* 모달 창을 더 둥글게 만듭니다. */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
  }
  
  .modal.active {
    opacity: 1; /* 모달을 표시할 때 투명도를 1로 설정하여 나타납니다. */
    pointer-events: auto; /* 이벤트를 처리할 수 있도록 활성화합니다. */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1001;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%; /* 모달 내용 너비를 화면의 80%로 설정 */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 모달에 그림자 효과 추가 */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 999;
  }
  
  /* Modal.css 파일에서 동영상 스타일 수정 */
  .video-container {
    max-width: 100%; /* 동영상 컨테이너의 최대 너비를 조절합니다. */
    max-height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* 동영상 스타일 수정 */
  .video-container video {
    width: 55%; /* 동영상 너비를 100%로 설정하여 부모 컨테이너에 맞게 조절 */
    height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
  }
  
  .close-modal {
    position: absolute;
    top: 10px; /* 모달 상단에서 10px 떨어진 위치에 버튼 배치 */
    right: 10px; /* 모달 우측에서 10px 떨어진 위치에 버튼 배치 */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333; /* 닫기 버튼 색상 설정 */
  }
  
  .modal-content > * {
    margin: 10px 0; /* 텍스트와 이미지 간격 조절 */
  }
  
  /* "X" 아이콘 스타일 수정 */
  .close-modal::before {
    content: "✕"; /* "✕" 문자열 표시 (닫기 아이콘) */
    font-weight: bold;
  }
  
  /* 모달 내부의 텍스트 스타일 수정 */
  .modal-content td {
    margin: 5px 0; /* 텍스트 간격 조절 */
    font-size: 18px; /* 텍스트 크기 조절 */
    font-weight: bold;
  }
  