/* Nav.css */
.navbar {
  background-color: #2196F3; /* 네비게이션 바 배경색 (하늘색) */
  height: 60px; /* 네비게이션 바의 높이를 조절합니다. 원하는 높이로 변경하세요. */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  max-height: 50px; /* 로고 이미지 높이 조절 */
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}