/* Violation.css */

/* Container for the entire form */
.violation-container {
    display: flex;
    flex-direction: column; /* 세로로 요소를 나열합니다. */
    align-items: center;
    justify-content: flex-start; /* 상단 정렬 */
    margin-top: 5vh;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* Dropdown styles */
.violation-dropdown {
    margin-bottom: 10px; /* 아래에 간격 추가 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    width: 100%; /* 너비 조정 */
    font-size: 14px; /* 폰트 크기 조정 */
}

/* Additional styles for labels and date picker */
.violation-label {
    font-weight: bold;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-label {
    font-weight: bold;
}

/* 변경: violation-result 스타일 수정 */
.violation-result {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-x: auto; /* 가로 스크롤바 처리 */
}

/* 변경: 결과 테이블 스타일 수정 */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; /* 폰트 크기 조정 */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center; /* 가운데 정렬 */
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.date-picker {
  content: '\e99c';
  display: inline-block;
  top: 7px;
  left: 7px;
  font-size: 1rem;
  color: #333;
}