.violation-container {
    display: flex;
    flex-direction: column; /* 세로로 요소를 나열합니다. */
    align-items: center;
    justify-content: flex-start; /* 상단 정렬 */
    margin-top: 5vh;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

/* Dropdown styles */
.violation-dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    width: 25%; /* 너비 조정 */
    font-size: 14px; /* 폰트 크기 조정 */
    margin: 10px;
}

/* Additional styles for labels and date picker */
.violation-label {
    font-weight: bold;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date-label {
    font-weight: bold;
}

/* 변경: violation-result 스타일 수정 */
.violation-result {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px; /* 최대 높이를 설정 */
}

/* 변경: 결과 테이블 스타일 수정 */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; /* 폰트 크기 조정 */
    table-layout: fixed;
}

thead {
    background-color: #f2f2f2; /* 헤더 배경색 설정 */
  }

th {
  padding: 8px; /* 셀 안에 여백을 설정 */
  text-align: center; /* 가운데 정렬 */
  border: 1px solid #ddd; /* 테두리 설정 */
  white-space: nowrap; /* 텍스트가 넘칠 때 줄 바꿈 방지 */
  overflow: hidden; /* 셀 내용이 넘칠 때 숨김 처리 */
  text-overflow: ellipsis; /* 셀 내용이 넘칠 때 ...으로 표시 */
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  padding: 8px; /* 셀 안에 여백을 설정 */
  text-align: center; /* 가운데 정렬 */
  border: 1px solid #ddd; /* 테두리 설정 */
  white-space: nowrap; /* 텍스트가 넘칠 때 줄 바꿈 방지 */
  overflow: hidden; /* 셀 내용이 넘칠 때 숨김 처리 */
  text-overflow: ellipsis; /* 셀 내용이 넘칠 때 ...으로 표시 */
  background-color: white;
}

.date-picker {
  content: '\e99c';
  display: inline-block;
  top: 7px;
  left: 7px;
  font-size: 1rem;
  color: #333;
}