<launch>
    <node pkg="ssafety" type="mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="ssafety" type="gpsimu_parser.py" name="gpsimu_parser" />
    <node pkg="ssafety" type="global_path_pub.py" name="global_path_pub"  />
    <node pkg="ssafety" type="local_path_pub.py" name="local_path_pub" />
    <node pkg="ssafety" type="advanced_purepursuit.py" name="advanced_purepursuit"  />
    <node pkg="ssafety" type="tf_pub.py" name="tf"  />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ssafety)/rviz/kcity_rviz.rviz" />
</launch>