<launch>
    <node pkg="ssafety" type="mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="ssafety" type="gpsimu_parser.py" name="gpsimu_parser" />
    <node pkg="ssafety" type="global_path_pub.py" name="global_path_pub"  />
    <node pkg="ssafety" type="local_path_pub.py" name="local_path_pub" />
    <node pkg="ssafety" type="tf_pub.py" name="tf"  />
    <node pkg="ssafety" type="lattice_planner.py" name="lattice_planner" output="screen" args="/Object_topic"/>
    <node pkg="ssafety" type="purepursuit_driving.py" name="purepursuit_driving"  args="/lattice_path"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ssafety)/rviz/lane_detection_rviz.rviz" />
</launch>